<div class="header">
  <ul class="nav nav-pills pull-right">
    <li class="active"><a ng-href="#">Home</a></li>
    <li><a ng-href="#">About</a></li>
    <li><a ng-href="#">Contact</a></li>
  </ul>
  <h3 class="text-muted">ng fancybox basic</h3>
</div>

<div class="jumbotron">
  <h1>'Allo, 'Allo!</h1>
  <p class="lead">
    <img src="images/yeoman.png" alt="I'm Yeoman"><br>
    Always a pleasure scaffolding your apps.
  </p>
  <p><a class="btn btn-lg btn-success" ng-href="#">Splendid!</a></p>
</div>

<div class="row marketing">
  <h4>Basic Fancybox Wrapper for Angular</h4>
  <p>This wrapper allows user to pass fancybox option and prevent href default behavior in angular when clicked</p>
  <a href='#myContent' ra-fancybox-basic >Click to open me</a>
  <div id='myContent' style='display: none'>Please display me</div>
</div>

<div class="footer">
  <p>♥ from the Yeoman team</p>
</div>
